<h1>Concert <%=@my_concert.id%> Details:</h1>
   <p><h3>Artist:</h3> <%= @my_concert.artist%></p>
   <p><h3>Venue:</h3> <%= @my_concert.venue%></p>
   <p><h3>City:</h3> <%= @my_concert.city%></p>
   <p><h3>Date:</h3> <%= @my_concert.date%></p>
   <p><h3>Price:</h3> <%= @my_concert.price%></p>
   <p><h3>Description:</h3> <%= @my_concert.description%></p>
   <a href="/concerts">Back to home</a>
